:root {
    --accent: #1C9BF0;
    --background: #15202B;
    --background-search: #253341;
    --background-reference: #1A2734;
    /* old */
    --background2: #1C2732;
    --background3: #1A2734;
    --highlight: hsl(51, 61%, 22%);
    --text: #ffffff;
    --text2: #8393A1;
    --border: #38444D;
    --border2: #3D5466
}


/* Background */

.roam-body,
.roam-app,
.roam-sidebar-container,
#right-sidebar {
    background: var(--background) !important;
}

.bp3-input {
    background: var(--background-search) !important;
}

.rm-reference-item,
.rm-embed-container {
    background: var(--background-reference) !important;
}


/* old */

.flex-v-box,
.bp3-elevation-3,
.rm-zoom-mask,
.rm-inline-references {
    background: var(--background) !important;
}

.bp3-datepicker,
.DayPicker-Day--outside:hover,
.bp3-popover-content,
.bp3-menu {
    background: var(--background3) !important;
}

.bp3-popover .bp3-popover-arrow-fill {
    fill: var(--background3) !important;
}

.bp3-elevation-3 div.dont-unfocus-block[style*=background],
.rm-bq {
    background: var(--background2) !important;
}

.rm-highlight,
.block-highlight-yellow,
.rm-active {
    background-color: var(--highlight) !important;
}


/* Text */

.roam-body .roam-app,
.roam-body .roam-app h1 {
    color: var(--text) !important;
}

.flex-h-box,
.DayPicker-Day,
.DayPicker-Weekday,
.bp3-menu-item-label,
.bp3-text-overflow-ellipsis {
    color: var(--text) !important;
}

.bp3-html-select select,
.bp3-select select,
.bp3-button {
    color: var(--text2) !important;
}

.DayPicker-Day--today {
    color: var(--accent) !important;
}


/* Link Text */

.rm-page-ref-link-color,
.rm-page-ref--link,
.rm-page__title,
.rm-alias,
.rm-alias--external,
a {
    color: var(--accent) !important;
}


/* Boarder */

.rm-reference-item,
.rm-embed-container,
.rm-inline-references {
    border: 1px solid var(--border) !important;
    border-radius: 0px !important;
}

.rm-topbar,
.rm-sidebar-window {
    border-bottom: 2px solid var(--border) !important;
}

.roam-sidebar-content {
    border-right: 2px solid var(--border) !important;
}

#right-sidebar {
    border-left: 2px solid var(--border) !important;
}

.bp3-datepicker {
    border-radius: 0px !important;
}

.rm-multibar {
    border-right: 2px solid var(--border2) !important;
}

.roam-table th,
.roam-table td,
.roam-table tr {
    border: 1px solid var(--border2) !important;
}


/* Table */

.roam-table {
    overflow: auto;
}

.roam-table td {
    overflow: auto;
}